---
---

body {
    counter-reset: chapter;
}
h1 {
  counter-reset: sub-chapter;
}
h2 {
  counter-reset: section;
}

h1::before {
  counter-increment: chapter;
  /*content: counter(chapter) ". ";*/
}

h2::before {
  counter-increment: sub-chapter;
  /* content: counter(chapter) "-" counter(sub-chapter) ". ";*/
  content: counter(sub-chapter) ". ";
}

/*
h3::before {
  counter-increment: section;
  content: "(" counter(section) ") ";
}
*/

table {
	width: 95%;
	/*親要素に対して*/
	border-collapse: collapse;
}

table th {
	border: solid 1px black;
	/*実線 1px 黒*/
}

table td {
	border: solid 1px black;
	/*実線 1px 黒*/
	text-align: center;
}

table tr:nth-child(even) {
	background: #e9faf9;
}
