---
---

table {
	width: 95%;
	/*親要素に対して*/
	border-collapse: collapse;
}

table th {
	border: solid 1px black;
	/*実線 1px 黒*/
}

table td {
	border: solid 1px black;
	/*実線 1px 黒*/
	text-align: center;
}

table tr:nth-child(even) {
	background: #e9faf9;
}
